@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Black.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }