/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

/* ANIMATIONS */
@keyframes showMenu {
    0% {
        transform: scaleY(0) translate(-24px, 100px);
    }

    80% {
        transform: scaleY(1.2) translate(-24px, 100px);
    }

    100% {
        transform: scaleY(1) translate(-24px, 100px)
    }
}

/* VARIABLES */

:root {
    /* Colors */
    --MAIN-BLUE: #5299ff;
    --LIGHT-BLUE: #8fbeff;
    --DECK-BLUE: #A3F6FE;
    --DECK-BLUE-2: #A3CAFE;
    --DECK-RED: #FEA3A3;
    --DECK-YELLOW: #FEE5A3;
    --DECK-YELLOW-2: #FEFBA3;
    --DECK-GREEN: #79AC78;
    --DECK-GREEN-2: #A3FEA3;
    --DECK-ORANGE: #FEC7A3;
    --DECK-PURPLE: #BAA3FE;
    --DECK-PINK: #D7A3FE;
    --DECK-PINK-2: #FDA3FE;
    --DECK-AQUA: #A3FEDD;
    /* Fonts */
    --MAIN-FONT: Gabarito;
    /* Other */
    --PAGE-WIDTH: 1400px;
}

/* STANDARD RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

html {
    scroll-behavior: smooth;
}

/* GENERAL STYLING */

body {
    background-color: whitesmoke;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: var(--MAIN-FONT);
}

main {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LANDING PAGE */

a {
    text-decoration: none;
    color: black;
    transition: all 0.1s ease;
}

a:hover {
    color: var(--MAIN-BLUE);
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none
}

h1 {
    font-family: var(--MAIN-FONT);
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header styling */

header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.5s;
    background-color: whitesmoke;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px 5px;
    max-width: var(--PAGE-WIDTH);
    align-items: center;
}

nav,
.signs {
    display: none;
    gap: 15px
}


.hamburger-button {
    width: 40px;
    height: 40px;
    position: relative;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
    background-color: black;
    width: 32px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    transition: all 0.5s;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
}

.hamburger-icon::before {
    transform: translate(-16px, -9px);
}

.hamburger-icon::after {
    transform: translate(-16px, 9px);
}

.hamburger-menu {
    position: absolute;
    border: 1px solid grey;
    border-radius: 5px;
    transform: translate(-24px, 100px);
    font-size: 1rem;
    padding: 10px;
    display: none;
    z-index: 1;
    background-color: whitesmoke;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out;
}

.active {
    display: flex;
    flex-direction: column;
}


/* Main */

main {
    flex-direction: column;
    min-width: 100%;
}

main section {
    min-height: 100vh;
    min-width: 100%
}

main section:nth-child(2n) {
    background-color: var(--MAIN-BLUE);
    color: white
}

/* Hero section */

.hero {
    margin-top: 200px
}

/* Faq section */

#faq {
    flex-direction: column;
    padding: 5px
}

.faqs {
    margin-top: 30px;
    padding: 50px 30px;
    border: 1px solid var(--BRIGHT-BLACK);
    border-radius: 1rem;
    max-width: 800px;
}

.faqs button {
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    align-items: start;
    transition: all 1s ease-in-out;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question h3 {
    padding-right: 30px;
}

.answer {
    padding-right: 30px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: all 1s ease-in-out;
    color: whitesmoke
}

.faq.active-faq .answer {
    max-height: 1000px;
}

footer {
    min-width: 100%;
}

/* TRANSLATOR */

.translator-main {
    padding: 0px 10px;
    flex-grow: 1;
    margin-top: 75px;
}

.translator-main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    max-width: 800px;
}

.translator-main form button {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--MAIN-BLUE);
    padding: 10px;
    align-self: center;
    color: white;
    margin: 15px 0px;
}

.is-flashcard-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
    ;
}

.decks-list {
    display: block;
    overflow: hidden;
    flex-grow: 1;
}

/* Django-select2-styling */

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--LIGHT-BLUE) !important;
    border: none !important;
    color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--LIGHT-BLUE) !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 5px !important
}

.active-is-flashcard {
    display: block;
    min-width: 30px;
}

.textareas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* To make it fill the available space */
    position: relative;
}

textarea {
    flex-grow: 1;
    /* Fill the remaining space within the container */
    font-size: 1.5em;
    border-radius: 10px;
    font-family: var(--TRANSLATOR-FONT);
    padding: 35px 10px 10px 10px;
    resize: none;
    box-sizing: border-box;
}

.input-box:focus {
    outline: 2px solid var(--MAIN-BLUE);
    border: none;
}

.output-box {
    cursor: default;
}

.output-box:focus-visible {
    outline: 0px;
}

.language-selectbox {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border: none;
}

select:focus {
    border: none;
    outline: none;
}

.language-selectbox option {
    /* Your styles for the options */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.language-selectbox option:checked {
    background-color: var(--MAIN-BLUE);
    color: white;
}

/* DECKS  */

.decks-container {
    display: flex;
    gap: 20px;
}

.decks-container div {
    width: 100px;
    height: 140px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: gray;
}

.decks-container div:last-child {
    background-color: whitesmoke;
}

/* REVIEW */

.flashcard-back {
    display: none;
}

.quality-buttons-container {
    gap: 15px;
    display: none;
}

.quality-buttons-container button,
.show-answer {
    font-size: 2em;
    color: white;
    border: 1px solid black;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* WIDE SCREENS */
@media screen and (min-width:1000px) {

    nav,
    .signs {
        display: flex;
    }

    .hamburger-button {
        display: none
    }

    /* TRANSLATOR PAGE */

    .translator-main form {
        max-height: 500px;
        max-width: 100px;
        ;
    }

    .textareas {
        flex-direction: row;
    }
}