{% extends "mainapp/user_profile.html" %}

{% load static %}
{% load widget_tweaks %}


{% block content %}

<main class="decks-main center">
    <h1>Your decks</h1>
    <p class="subtext">You have {{user.decks.all.count}} with {{user.flashcards.all.count}} flashcards inside.</p>
    <form id="deck-searchbar">
        {{ decks_searchbar.media.css }}
        {% csrf_token %}
        <input type="text" id="decks-searchbar" placeholder="Type to search decks">
    </form>
    <div class="big-decks-container">
        <button id="add-deck-button" class="dark-deck center">+</button>
        {% for deck in user.decks.all %}
        {% if deck.name %}
        <a href="{% url 'mainapp:deck_details'%}?deck_name={{deck.name}}" class="dark-deck center">{{deck.name}}</a>
        {% endif %}
        {% endfor %}
    </div>
</main>


<!-- Modal window for adding a deck -->
<div class="add-deck-container">
    <button><img class="close-dial" src="{% static 'close_dial.png' %}" alt="Close" loading="lazy" width="25"
            height="25"></button>
    <h2>Add new deck</h2>
    <form method="post">
        {% csrf_token %}
        <label for="new_deck_form_name">Name:</label>
        {{new_deck_form.name}}
        <label for="new_deck_form_description">Description:</label>
        {{new_deck_form.description}}
        <button class="blue-button" type="submit">Add</button>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ decks_searchbar.media.js }}

<script>

    var decksSearchbar = document.getElementById("decks-searchbar")

    $(document).ready(function () {
        $(decksSearchbar).keyup(function () {
            console.log("ajax");
            var searchText = $(this).val();
            var decksContainer = document.querySelector(".decks-container");

            // AJAX request
            $.ajax({
                url: '{% url "mainapp:decks" %}',
                data: { 'search_text': searchText },
                dataType: 'html',
                success: function (data) {
                    decksContainer.innerHTML = '';
                    console.log(data);
                    // Convert string to dictionary and list
                    data = JSON.parse(data);
                    // Construct start of HTML structure
                    var newContent = '<button id="add-deck-button" class="dark-deck center">+</button>';
                    // Loop through user decks and add deck links (if provided)
                    if (data.filtered_decks) {
                        console.log("condition fulfilled")
                        for (var i = 0; i < data.filtered_decks.length; i++) {
                            var deck = data.filtered_decks[i];
                            newContent += '<a class="dark-deck center">' + deck + '</a>';
                        }
                    }
                    // Update decksContainer with the constructed HTML
                    decksContainer.innerHTML = newContent;
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

{% endblock content %}