{% extends "mainapp/user_profile.html" %}

{% load static %}
{% load widget_tweaks %}


{% block content %}
<main class="translator-main center">
    <h1 id="{{ card_id }}" class="edit-flashcard-title">Edit flashcard</h1>
    <form method="post">
        {{ translator_form.media.css }}
        {% csrf_token %}
        <div class="is-flashcard-container">
            <div class="decks-list" style="display:flex">
                {{translator_form.decks|attr:" id:decks-list-selectbox"|attr:"disabled:True" }}</div>
            <!-- Delete button and toolitip -->
            <div class="tooltip"> <button class="delete-button" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg> </button>
                <span class="tooltiptext">Delete flashcard</span>
            </div>

        </div>
        <input type="hidden" name="form_type" value="translator_form">
        <div class="textareas">
            <div class="textarea-container">
                <textarea id="input-textarea" name="input_text" class="input-box"
                    placeholder="Write the text that you want to translate."
                    spellcheck="false">{{input_text}}</textarea>
                <div class="from-languages-container">
                    {% if language_from %}
                    <img id="from-country-flag" class="country-flag"
                        src="https://flagsapi.com/{{language_from.alpha2_code}}/flat/64.png" alt="{{language_from}}"
                        width="25px" height="25px">
                    {% endif %}
                    {{translator_form.from_language|attr:"id:from-language-selectbox"|add_class:"language-selectbox"}}
                </div>
            </div>
            <div class="textarea-container">
                <textarea id="output-textarea" class="output-box" style="cursor: auto;"
                    placeholder="Translated text will appear here. Flashcard will be created automatically."
                    spellcheck="false">{{ output_text }}</textarea>
                <div class="to-languages-container">
                    {% if language_from %}
                    <img id="to-country-flag" class="country-flag"
                        src="https://flagsapi.com/{{language_to.alpha2_code}}/flat/64.png" alt="{{language_to}}"
                        width="25px" height="25px">
                    {% endif %}
                    {{translator_form.to_language|attr:"id:to-language-selectbox"|add_class:"language-selectbox"}}
                </div>
            </div>
        </div>
        <button type="button" class="translate-button">Edit</button>
    </form>

</main>

<!-- Flashcard created popup -->
<div class="flashcard-created-popup">Flashcard edited!</div>

<!-- Modal window for deleting flashcard -->
<div class="add-deck-container">
    <button><img class="close-dial" src="{% static 'close_dial.png' %}" alt="Close" loading="lazy" width="25"
            height="25"></button>
    Are you sure you want to delete this flashcard?
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="card_id" value="{{ card_id }}">
        <input type="hidden" name="deck" value="{{ deck }}">
        <button class="delete-button-text" type="submit">Delete</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ translator_form.media.js }}

<script>

    // Edit flashcard AJAX request

    var cardID = {{ card_id }};
    var outputTextarea = document.getElementById("output-textarea");
    var flashcardPopup = document.querySelector(".flashcard-created-popup");

    $(document).ready(function () {
        $('.translate-button').click(function () {
            // Retrieve input data
            var fromLanguage = document.getElementById("from-language-selectbox").selectedOptions[0];
            var toLanguage = document.getElementById("to-language-selectbox").selectedOptions[0];
            var inputText = document.getElementById("input-textarea").value;
            var outputText = document.getElementById("output-textarea").value;
            //Reset animation property
            flashcardPopup.style.animation = '';
            // AJAX
            $.ajax({
                url: '{% url "mainapp:edit_flashcard" %}',
                data: {
                    'action': 'edit',
                    'card_id': cardID,
                    'input_text': inputText,
                    'output_text': outputText,
                    'from_language': fromLanguage.textContent,
                    'to_language': toLanguage.textContent,
                },
                dataType: 'json',
                success: function (data) {
                    flashcardPopup.style.animation = 'showPopup 2s ease-in-out';
                },
                error: function (xhr, status, error) {
                    console.log("Error occurred: " + error);
                }
            });
        });
    });

    // Change country flag AJAX request

    var fromLanguageSelectbox = document.getElementById("from-language-selectbox");
    var toLanguageSelectbox = document.getElementById("to-language-selectbox");
    var languageSelectboxes = document.querySelectorAll(".language-selectbox");
    var fromCountryFlag = document.getElementById("from-country-flag");
    var toCountryFlag = document.getElementById("to-country-flag");



    languageSelectboxes.forEach(selectbox => {
        selectbox.addEventListener("change", function () {
            var fromLanguage = fromLanguageSelectbox.selectedOptions[0].textContent;
            var toLanguage = toLanguageSelectbox.selectedOptions[0].textContent;
            $.ajax({
                url: '{% url "mainapp:translator" %}',
                data: {
                    'action': "change_flag",
                    'from_language_string': fromLanguage,
                    'to_language_string': toLanguage,
                },
                success: function (data) {
                    fromCountryFlag.src = "https://flagsapi.com/" + data.language_from_alpha2_code + "/flat/64.png";
                    toCountryFlag.src = "https://flagsapi.com/" + data.language_to_alpha2_code + "/flat/64.png"

                },
                error: function (xhr, status, error) {
                    console.log("Error occurred: " + error);
                }
            });
        });
    });

</script>



{% endblock content %}