{% extends "mainapp/landing_page.html" %}

{% block content %}
<!-- Selectbox with decks, visible which one is currently studied -->
<!-- Statiics on how many cards left etc -->
<h2 id="deck-name">{{deck_name}}</h2>
{{flashcards_list}}
<div id="flashcard-container">
    {% if flashcards_list %}
    <h3 id="card-id">{{flashcards_list.0.id}}</h3>
    {{flashcards_list.0.front}}
    <hr>
    <div class="flashcard-back">
        {{flashcards_list.0.back}}
    </div>
    {% else %}
    <p>Congratulations! There are no cards to review in this deck for today!</p>
    {% endif %}
</div>
<button class="show-answer">Flip the card</button>
<div class="quality-buttons-container center">
    <button data-quality="0">Very hard</button>
    <button data-quality="1">Hard</button>
    <button data-quality="2">Ok</button>
    <button data-quality="3">Easy</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var cardId = document.getElementById("card-id").textContent;
    var flashcardBack = document.querySelector(".flashcard-back");
    var flipCardButton = document.querySelector(".show-answer");
    var qualityButtonsContainer = document.querySelector(".quality-buttons-container");
    var qualityButtons = qualityButtonsContainer.querySelectorAll("button");

    flipCardButton.addEventListener("click", function () { qualityButtonsContainer.style.display = "block"; flipCardButton.style.display = "none"; flashcardBack.style.display = "block" });

    qualityButtons.forEach(button => {
        button.addEventListener("click", function () {
            flipCardButton.style.display = "block";
            qualityButtonsContainer.style.display = "none";
            flashcardBack.style.opacity = "0.5";
        });
    });



    var deckName = document.getElementById("deck-name").textContent;
    $(document).ready(function () {
        $('.quality-buttons-container button').click(function () {
            console.log("Sent id");
            console.log(cardId);
            var flashcardContainer = $("#flashcard-container");
            var quality = $(this).data("quality");
            $.ajax({
                url: '{% url "mainapp:review" %}',
                data: {
                    'deck_name': deckName,
                    'id': cardId,
                    'quality': quality
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    console.log("Received id")
                    console.log(data.id)
                    if (data.id == cardId) { flashcardContainer.html('<h3>Congratulations! There are nor cards to reveiew in this deck for today!</h3>') }
                    else {
                        cardId = data.id
                        flashcardContainer.html('<h3 id="card-id">' + data.id + '</h3>' + data.front + '<hr>' + '<div class="flashcard-back">' + data.back + '</div>');
                        var flashcardBack = document.querySelector(".flashcard-back");
                        var flipCardButton = document.querySelector(".show-answer");
                        var qualityButtonsContainer = document.querySelector(".quality-buttons-container");
                        var qualityButtons = qualityButtonsContainer.querySelectorAll("button");

                        flipCardButton.addEventListener("click", function () { qualityButtonsContainer.style.display = "block"; flipCardButton.style.display = "none"; flashcardBack.style.display = "block" });

                        qualityButtons.forEach(button => {
                            button.addEventListener("click", function () {
                                flipCardButton.style.display = "block";
                                qualityButtonsContainer.style.display = "none";
                                flashcardBack.style.opacity = "0.5";
                            });
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock content %}