{% extends "mainapp/user_profile.html" %}

{% block content %}

<main class="review-main">
    <h2 id="deck-name">{{deck_name}}</h2>
    {% if flashcards_list %}
    <div id="flashcard-container">
        <div class="textarea-container">
            <div class="flashcard-front center">

                <!-- Hidden fields, needed for Ajax response -->
                <h3 id="card-id" style="display: none;">{{flashcards_list.0.id}}</h3>
                <h3 id="start-time" style="display: none;">{{start_time}}</h3>

                {{flashcards_list.0.front}}
            </div>
        </div>
        <div class="textarea-container">
            <div class="flashcard-back center">
                {{flashcards_list.0.back}}
            </div>
        </div>
    </div>
    {% else %}
    <p>Congratulations! There are no cards to review in this deck for today!</p>
    {% endif %}
    <div class="all-review-buttons-container">
    <button id="flip-the-card-button" class="blue-button">Flip the card</button>
    <a href="{% url 'mainapp:user_profile' user.username %}"><button class="green-button">Back to user panel</button></a>
    <div class="quality-buttons-container center">
        <button class="blue-button" data-quality="0">Again</button>
        <button class="blue-button" data-quality="1">Hard</button>
        <button class="blue-button" data-quality="2">Good</button>
        <button class="blue-button" data-quality="3">Easy</button>
    </div>
</div>
</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    // Initialize elements and assign actions to buttons
    function initializeReviewElements() {
        var flashcardBack = document.querySelector(".flashcard-back");
        var allButtonsContainer = document.querySelector(".all-review-buttons-container")
        var flipCardButton = document.getElementById("flip-the-card-button");
        var qualityButtonsContainer = document.querySelector(".quality-buttons-container");
        var qualityButtons = qualityButtonsContainer.querySelectorAll("button");

        // Actions after clicking Flip Card button
        flipCardButton.addEventListener("click", function () { qualityButtonsContainer.style.display = "flex"; flipCardButton.style.display = "none"; flashcardBack.style.opacity = "1" });

        // Actions after clicking one of quality buttons
        qualityButtons.forEach(button => {
            button.addEventListener("click", function () {
                flipCardButton.style.display = "block";
                qualityButtonsContainer.style.display = "none";
            });
        });
    }
    
    // hide flipCardButton and display greenButton
     function showEndingButton(){
        var flipCardButton = document.getElementById("flip-the-card-button");
        var greenButton = document.querySelector(".green-button");

        flipCardButton.style.display = "none";
        greenButton.style.display = "flex";
    }
    

    // Execute Initalization
    initializeReviewElements();

    // Retrieve card id and deck name
    var cardId = document.getElementById("card-id").textContent;
    var deckName = document.getElementById("deck-name").textContent;
    var startTime = document.getElementById("start-time").textContent;



    // AJAX request
    $(document).ready(function () {
        $('.quality-buttons-container button').click(function () {
            var flashcardContainer = $("#flashcard-container");
            var allButtonsContainer = document.querySelector(".all-review-buttons-container")
            var quality = $(this).data("quality");
            $.ajax({
                url: '{% url "mainapp:review" %}',
                data: {
                    'deck_name': deckName,
                    'id': cardId,
                    'quality': quality,
                    'start_time': startTime,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.id == "no more cards") { flashcardContainer.html('<br> <p>Congratulations! There are no cards to review in this deck for today!</p><br>');
                        showEndingButton();
                    }
                    else {
                        cardId = data.id
                        flashcardContainer.html('<div class="textarea-container"><div class="flashcard-front center"><h3 id="card-id" style="display: none;">' + data.id + '</h3>' + '<h3 id="card-id" style="display: none;">' + startTime + '</h3>' + data.front + '</div></div>' + '<div class="textarea-container"><div class="flashcard-back center">' + data.back + '</div></div>');
                        initializeReviewElements();
                    }
                }
            });
        });
    });

</script>

{% endblock content %}