{% extends "mainapp/landing_page.html" %}

{% block content %}
<!-- Selectbox with decks, visible which one is currently studied -->
<!-- Statiics on how many cards left etc -->
{{deck.name}}
<div id="flashcard-container" data-deck-name="{{ deck.name }}">
    {% if flashcards_list %}
    {{flashcards_list.0.front}}
    <hr>
    {{flashcards_list.0.back}}
    {% else %}
    <p>Congratulations! There is no cards to review in this deck for today!</p>
    {% endif %}
</div>
<div class="quality-buttons-container center">
    <button class="quality-button">Very hard</button>
    <button class="quality-button">Hard</button>
    <button class="quality-button">Ok</button>
    <button class="quality-button">Easy</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.quality-buttons-container button').click(function () {
            var flashcardContainer = $("#flashcard-container");
            var deckName = flashcardContainer.attr("data-deck-name");
            console.log(deckName);
            var current_index = 1;
            $.ajax({
                url: '{% url "mainapp:review" %}',
                data: {
                    'deck_name': deckName,
                    'current_index': current_index
                },
                dataType: 'json',
                success: function (data) {
                    console.log("succes");
                    flashcardContainer.html(data.front + '<hr>' + data.back);
                    // Update the displayed card index
                    flashcardContainer.data('index', data.index);
                }
            });
        });
    });
</script>
{% endblock content %}