{% extends "mainapp/user_profile.html" %}
{% load static %}
{% load widget_tweaks %}
{% load static tailwind_tags %}



{% block content %}

<main class="h-full w-full pl-[236px] pr-[118px] flex justify-center items-center pb-[5%]">
    <form method="post" class="w-full max-w-[1000px] flex flex-col gap-[18px] items-center">
        {{ translator_form.media.css }}
        {% csrf_token %}
        <div class="flex h-[50px] w-full justify-between gap-[18px]">
            <div class="flex">
                <label for="is-flashcard-switch2">Flashcard</label>
                <!-- Change it (customize) -->
                {{ translator_form.is_flashcard|attr:"id:is-flashcard-switch2"}}
            </div>
            <div class="flex w-full gap-[18px]">
                {{translator_form.decks|attr:" id:decks-list-selectbox"|add_class:"flex-grow rounded-[15px] border-2 border-gray-300"|attr:"placeholder:Click to select decks you want to add card into"}}
                <button type="button" id="add-deck-button" class="w-[50px] h-[50px] rounded-[15px] text-white bg-mainblue text-[40px] flex items-center justify-center">+</button>
            </div>
        </div>
        <input type="hidden" name="form_type" value="translator_form">
        <div class="w-full flex flex-grow gap-[18px]">
            <div class="flex-grow flex flex-col relative">
                <textarea id="input-textarea" name="input_text" class="border-2 border-gray-300 rounded-[15px] h-[350px] p-[18px] pt-[54px] text-[26px] placeholder-gray-400 leading-normal"
                    placeholder="Write the text that you want to translate"
                    spellcheck="false">{{input_text}}</textarea>
                <div class="absolute flex ml-[18px] mt-[9px]">
                    <img id="from-country-flag" class="border-1 border-gray-300"
                        src="https://flagsapi.com/{{language_from.alpha2_code}}/flat/64.png" alt="{{language_from}}"
                        width="25px" height="25px">
                    {{translator_form.from_language|attr:"id:from-language-selectbox"|add_class:"border-0 text-gray-400 pr-0 flex text-center m-0 pl-0 absolute left-0 bottom-[50%] translate-y-1/2 bg-transparent"}}
                </div>
            </div>
            <div class="flex-grow flex flex-col relative">
                <textarea id="output-textarea" class="border-2 border-gray-300 rounded-[15px] h-[350px] p-[18px] pt-[54px] text-[26px] placeholder-gray-400 leading-normal"
                    placeholder="Translated text will appear here. Flashcard will be created automatically" readonly
                    spellcheck="false">{{ output_text }}</textarea>
                <div class="absolute flex ml-[18px] mt-[9px]">
                    <img id="to-country-flag" class="border-1 border-gray-300"
                        src="https://flagsapi.com/{{language_to.alpha2_code}}/flat/64.png" alt="{{language_to}}"
                        width="25px" height="25px">
                    {{translator_form.to_language|attr:"id:to-language-selectbox"|add_class:"border-0 text-gray-400 pr-0 flex text-center m-0 pl-0 absolute left-0 bottom-[50%] translate-y-1/2 bg-transparent"}}
                </div>
            </div>
        </div>
        <button type="button" class=" mt-[18px] bg-mainblue rounded-[15px] h-[50px] pl-[24px] pr-[24px] max-w-[300px] text-[18px] text-white tracking-[0.15em]">TRANSLATE</button>
    </form>

</main>





{% endblock content %}