{% load static %}
{% load widget_tweaks %}

<!-- Add flags to selected languages -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rafał Darnobid">
    <meta name="description" content="Page for translating and adding card to the deck.">
    <title>AnkiTranslator</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="center">
    <main class="translator-main center">
        <form method="post">
            {{ translator_form.media.css }}
            {% csrf_token %}
            {{ translator_form.is_flashcard.label }}
            {{ translator_form.is_flashcard }}
            <div class="decks-list">{{translator_form.decks}}</div>
            <input type="hidden" name="form_type" value="translator_form">
            <div class="textarea-container">
                <textarea name="input_text" class="input-box" placeholder="Write the text that you want to translate.">
                {{ input_text }}
            </textarea>
                <div class="from-languages-container">{{translator_form.from_language|add_class:"language-selectbox"}}
                </div>
            </div>
            <div class="textarea-container">
                <textarea class="output-box"
                    placeholder="Translated text will appear here. Flashcard will be created automatically."
                    readonly>{{ translated_text }}</textarea>
                <div class="to-languages-container">{{translator_form.to_language|add_class:"language-selectbox"}}</div>
            </div>
            <button type="submit">Translate</button>
        </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ translator_form.media.js }}
</body>

</html>