{% extends "registration/login.html" %}
{% load widget_tweaks %}
<!DOCTYPE html>

{% block content %}
<h3>Please sign in</h3>
&nbsp;
<form method="post">
    {% csrf_token %}

    <!-- Username -->
    {% if form.username.errors %}
    <ul>
        {% for error in form.username.errors %}
            <li class="small-red-text">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{form.username|add_class:"form-control"|attr:"id:register-username-input"|attr:"placeholder:Username"}}

    <!-- Password 1 -->
    {% if form.password1.errors %}
    <ul>
        {% for error in form.password1.errors %}
            <li class="small-red-text">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{form.password1|add_class:"form-control"|attr:"placeholder:Password"}}

    <!-- Password 2 -->
    {% if form.password2.errors %}
    <ul>
        {% for error in form.password2.errors %}
            <li class="small-red-text">{{ error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{form.password2|add_class:"form-control"|attr:"id:register-password-input"|attr:"placeholder:Confirm password"}}
    <button class="small-blue-button" type="submit" name="register">Register</button>
</form>

<div class="guest-account-container">
    Already have an account or want to try guest account?
    <a href="{% url 'users:login' %}"><button type="button" class="border-button">Go to login page</button></a>
</div>

{% endblock content %}